html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}


body {
	// height: 100%;
	// display: flex;
	// flex-direction: column;
	font-family:  'Arial', 'sans-serif';
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
<<<<<<< HEAD
	position: relative;
	z-index: 1;
=======
>>>>>>> 6f419bd8e2729a729031c3f5bfe83e1d6e9acb85
}

img {
	// max-width: 100%;
	// height: auto;
	vertical-align: middle;
	// object-fit: cover;
}

.main {
	flex-grow: 1;
}
