.footer{
   padding: 0px 0px 100px 0px;
}
.footer__inner{
   display: flex;
   flex-direction: column;
}
.footer__picture{
   margin: 0px auto;
}
.scroll{
   position: fixed;
   z-index: 2;
   top: calc(50% + 250px);
   left: calc(50% + 580px);
}


@media only screen and (max-width: 321px){
   .footer__img{
      width: 280px;
      height: 142px;
   }
}
@media only screen and (max-width: 426px){
   .scroll{
      width: 37px;
      height: 37px;
      top: calc(50% + 90px);
      left: calc(50% + 130px);
   }
   .scroll__img{
      width: 100%;
   }
}