.hero{
   padding: 200px 0px;
}
.hero__list{
   display: flex;
   flex-direction: column;
   list-style: none;
   margin: 0px;
   padding: 0px;
}
.hero__item{
   display: flex;
}
.hero__item:nth-child(2){
   margin-top: 100px;
   flex-direction: row-reverse;
}
.hero__info{
   width: 528px;
   margin-right: 42px;
}
.hero__info--left{
   margin-right: 0px;
   margin-left: 42px;
}
.hero__title{
   font-family: "Manrope";
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 38px;   
   color: #FFFFFF;
   margin: 0px;
   margin-bottom: 16px;
}
.hero__describtion{
   font-family: "Manrope";
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 30px;
   color: #FFFFFF;
   margin: 0px;
}