.hero{
   padding: 200px 0px;
}
.hero__list{
   display: flex;
   flex-direction: column;
   list-style: none;
   margin: 0px;
   padding: 0px;
}
.hero__item{
   display: flex;
}
.hero__item:nth-child(2){
   margin-top: 100px;
   flex-direction: row-reverse;
}
.hero__info{
   width: 528px;
   margin-right: 42px;
}
.hero__info--left{
   margin-right: 0px;
   margin-left: 42px;
}
.hero__title{
   font-family: "Manrope";
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 38px;   
   color: #FFFFFF;
   margin: 0px;
   margin-bottom: 16px;
}
.hero__describtion{
   font-family: "Manrope";
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 30px;
   color: #FFFFFF;
   margin: 0px;
}

@media only screen and (max-width: 426px){
   .hero{
      padding: 180px 0px 180px 0px;
   }
   .hero__item{
      flex-direction: column;
   }
   .hero__item:nth-child(2){
      margin-top: 70px;
      flex-direction: column;
   }
   .hero__info{
      width: 365px;
      margin: 0px;
      margin-bottom: 28px;
   }
   .hero__info--left{
      margin-left: 0px;
   }
   .hero__img{
      width: 385px;
      height: 220px;
   }
}

@media only screen and (max-width: 376px){
   .hero__info{
      width: 335px;
   }
   .hero__img{
      width: 335px;
      height: 190px;
   }
}
@media only screen and (max-width: 365px){
   .hero__info{
      width: 295px;
   }
   .hero__img{
      width: 280px;
      height: 159px;
   }
}