
.info__picture {
    display: block;
    width: 100%;
    margin-bottom: 80px;
}

.info__content {
    width: 80%;
}

.info__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin: 0;
}

.info__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 16px 0 32px;
}

@media only screen and (max-width:426px) {
    .info {
        padding: 0;
        width: 100%;
        background-size: 200px 400px;
        background-position: bottom right;
    }

    .info__content {
        width: 100%;
    }

    .info__title {
        font-size: 24px;
        line-height: 33px;
    }

    .info__text {
        font-size: 16px;
        line-height: 26px;
    }

}

