
.info__picture {
    display: block;
    width: 100%;
    margin-bottom: 80px;
}

.info__content {
    width: 80%;
}

.info__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin: 0;
}

.info__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 16px 0 32px;
}

