.performance {
    padding: 200px 0;
    background-image: url("../../img/performans-bg.png");
    background-repeat: no-repeat;
    background-position: center right;
}

.performance__picture {
    display: block;
    width: 100%;
}

.performance__img{
    width: 100%;
}

.performance__content {
    width: 80%;
}

.performance__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin: 0;
}

.performance__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 16px 0 32px;
}


@media only screen and (max-width:426px) {
    .performance {
        padding: 0;
        width: 100%;
        background-size: 200px 400px;
        background-position: bottom right;
    }

    .performance__content {
        width: 100%;
    }

    .performance__title {
        font-size: 24px;
        line-height: 33px;
    }

    .performance__text {
        font-size: 16px;
        line-height: 26px;
    }

}